<div>
    <div class="h3 m-3">{{ 'LOC_NOTES' | translate }}</div>
    <div class="row m-2 justify-content-center">
        <app-note *ngFor="let note of notes" [note]="note" class="col-12 col-md-5 col-lg-2 mx-1 mt-2"
        (onDeleted)="onDeleted($event)"
        (onChanged)="onChanged($event)"></app-note>
        <div class="col-12 col-md-5 col-lg-2 mx-2 mt-2">
            <form (ngSubmit)="addNote()" #form="ngForm" class="note p-2" id="form">
                <small class="text-muted ml-2">M.d.yy hh:mm</small>
                    <input type="text" class="h5" placeholder="{{'LOC_PLACEHOLDER_TITLE' | translate}}" name="inputTitle" [(ngModel)]="newNote.title" autofocus>
                    <textarea class="card-text" name="inputText" [(ngModel)]="newNote.text" placeholder="{{'LOC_PLACEHOLDER_TEXT' | translate}}" form="form" required></textarea>
                    <input type="text" placeholder="{{'LOC_PLACEHOLDER_USERNAME' | translate}}" name="inputUserName" [(ngModel)]="newNote.userName">
                    <input type="submit" class="rounded mt-4" value="{{'LOC_SUBMIT' | translate}}" id="newNotebutton" [disabled]="!newNote.text || newNote.text == ''">
            </form>
        </div>
    </div>
</div>