$note-bg-color: #fccd4c;
$note-color: #7c2801;
.note {
    background-color: $note-bg-color;
    color: $note-color;
    height: 200px;
    padding: 0px;
}
input {
    background-color: $note-bg-color;
    color: $note-color;
    padding: 6px;
    border: none;
    border-bottom: 1px solid $note-color;
    margin-bottom: 8px;
    width: stretch;    
}
input[type="submit"] {
    border: 1px solid $note-color;
}
input:focus{
    border-bottom: 1px solid $note-color;
    outline: none;
}