<div class="note p-2">
    <small class="text-muted ml-2">{{note.date | date:'M.d.yy hh:mm'}}</small>
    <button type="button mt-0 mr-0" class="close" aria-label="Close" (click)="delete()">
        <span aria-hidden="true">&times;</span>
    </button>
    <form (ngSubmit)="save()" #form="ngForm" class="" id="{{note.id}}">
        <input type="text" class="h5" name="title" [(ngModel)]="note.title">
        <textarea class="card-text" name="text" [(ngModel)]="note.text" required></textarea>
        <input type="text" class="text-muted float-left w-50" name="username" [(ngModel)]="note.userName">
        <button type="submit" class="btn float-right mt-2">
            <img src="../../assets/icons/edit.svg" alt="Save changes">
            {{'LOC_BUTTON_EDIT' | translate}}
        </button>
    </form>

</div>