@import "../home/home.component.scss";

input, textarea {
    background-color: $note-bg-color;
    color: $note-color;
    border: none;
}
input:hover, textarea:hover,:focus{
    border: none;
    background-color: #fcd66f;
    outline: none;
}
button {
    background: none;
    padding: 2px;
    margin: 0 auto;
    color: gray;
    &:hover {
        border-bottom: 1px solid $note-color;
    }
}