<div class="toolbar row justify-content-center" role="banner">
  <div class="col-2 col-md-1 m-2">
    <img src="../assets/icons/notes.svg" alt="logo" class="d-inline">
  </div>
  <div class="col">
    <div class="m-2 d-inline-block">
      <span class="h3">{{title}}</span>
      <span class="d-block">{{'LOC_TAGLINE' | translate }}</span>
    </div>
  </div>
  <ng-select class="m-2 col col-md-2 col-lg-1" [clearable]="false" [searchable]="false" [(ngModel)]="selectedLanguage"
    [items]="languages" (change)="changeLanguage()">
  </ng-select>
</div>
<router-outlet></router-outlet>